<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>操作记录检索</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<style>

</style>
</head>
<body>
<div class="container">
		<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li>
					 <a href="/">首页</a>
				</li>
				
				<li class="active">
					 <a href="/examples">参数</a>
				</li>
				
				<li>
					 <a href="/info">信息</a>
				</li>
			</ul>
	<table class="table">
				<thead>
					<tr>
						<th>
							时间
						</th>
						<th>
							IP
						</th>
						<th>
							用户名
						</th>
						<th>
							操作模块
						</th>
						<th>
							操作项
						</th>
						<th>
							操作内容
						</th>
						<th>
							关联商户
						</th>
						<th>
							关联应用
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="warning">
						<td>
							Fri May 12 08:38:45 CST 2017
						</td>
						<td>
							172.16.42.208
						</td>
						<td>
							admin 
						</td>
						<td>
							补发回调 
						</td>
						<td>
							发送
						</td>
						<td>
							T3117030716213539289 
						</td>
						<td>
							coolpad 
						</td>
						<td>
							AllenTest 
						</td>
						
					</tr>
					<tr class="success">
						<td>
							Fri May 12 08:38:45 CST 2017
						</td>
						<td>
							172.16.42.208
						</td>
						<td>
							admin 
						</td>
						<td>
							补发回调 
						</td>
						<td>
							发送
						</td>
						<td>
							T3117030716213539289 
						</td>
						<td>
							coolpad 
						</td>
						<td>
							AllenTest 
						</td>
						
					</tr>
					<tr class="error">
						<td>
							Fri May 12 08:38:45 CST 2017
						</td>
						<td>
							172.16.42.208
						</td>
						<td>
							admin 
						</td>
						<td>
							补发回调 
						</td>
						<td>
							发送
						</td>
						<td>
							T3117030716213539289 
						</td>
						<td>
							coolpad 
						</td>
						<td>
							AllenTest 
						</td>
						
					</tr>
				</tbody>
			</table>
</div>
</div>
</div>

</body>
</html>
